<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
						
<div class="center-piece">
<h1>New note</h1>

<%= render 'form' %>

<%= link_to 'Back', notes_path %>
</div>
