// Place all the styles related to the Timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clockpicker{
	width: 200px;
}

.new-timetable{
	width: 100%;
	margin-left:27%;
}

.center-piece-timetable h1{
	width: 100%;
	margin-left:35%;
}
